@import "~bootstrap/scss/bootstrap";
@import "./paper-item.scss";

.author.starred {
  @extend .font-weight-bold;
}

.inline-authors-list {
  @extend .list-inline;
  margin-bottom: 0px;

  li {
    @extend .list-inline-item;
  }

  .author {
    color: red;
  }
}

.paper.starred {
  @extend .font-weight-bold;
}

.search-state-button {
  color: #808080;

  &.active {
    color: black;
  }
}

.searchable-papers-list-form {
  @extend .form-inline;

  input[type="text"] {
    padding: 0.33rem 0.5rem;
  }
}
